<div class="filter-box">

  <!-- ======================
       DESTINATION
  ======================= -->

  <div class="filter-item destination-filter">

    <img src="assets/icon/home/map-pin.svg">

    <div
      class="filter-preview"
      (click)="showDestination=!showDestination"
    >

    <span>
      {{ selectedDestination || 'Điểm đến' }}
    </span>

      <ion-icon
        name="chevron-down-outline"
        class="arrow-icon"
      ></ion-icon>

    </div>

    <div
      class="filter-panel destination-panel"
      *ngIf="showDestination"
    >

      <div
        class="destination-option"
        (click)="selectDestination('Đà Lạt')"
      >
        Đà Lạt
      </div>

      <div
        class="destination-option"
        (click)="selectDestination('Đà Nẵng')"
      >
        Đà Nẵng
      </div>

      <div
        class="destination-option"
        (click)="selectDestination('Hà Giang')"
      >
        Hà Giang
      </div>

      <div
        class="destination-option"
        (click)="selectDestination('Hà Nội')"
      >
        Hà Nội
      </div>

      <div
        class="destination-option"
        (click)="selectDestination('Ninh Thuận')"
      >
        Ninh Thuận
      </div>

    </div>

  </div>


  <!-- ======================
       DURATION
  ======================= -->

  <div class="filter-item dropdown-filter">


    <div
      class="filter-preview"
      (click)="toggleDuration()"
    >

      <div class="preview-left">

        <img src="assets/icon/home/clock-4.svg">

        <span>
          {{ filter.minDays || 0 }}
          Ngày -
          {{ filter.maxDays || 5 }}
          Ngày
    </span>

      </div>

      <ion-icon
        [name]="
      showDuration
      ? 'chevron-up-outline'
      : 'chevron-down-outline'
    "
        class="arrow-icon"
      ></ion-icon>

    </div>

    <div
      class="filter-panel"
      [hidden]="!showDuration"
    >

      <div
        #durationSlider
        class="slider"
      ></div>

      <div class="range-values">

        <input
          type="number"
          [value]="filter.minDays"
          (change)="onMinDaysChange($event)"
        >

        <input
          type="number"
          [value]="filter.maxDays"
          (change)="onMaxDaysChange($event)"
        >

      </div>

    </div>

  </div>

  <!-- ======================
       PRICE
  ======================= -->

  <div class="filter-item dropdown-filter">


    <div
      class="filter-preview"
      (click)="togglePrice()"
    >

      <div class="preview-left">

        <img src="assets/icon/home/circle-dollar-sign.svg">

        <span>

          {{ filter.minPrice
          ? formatPrice(filter.minPrice)
          : '1.299.000đ' }}

          -

          {{ filter.maxPrice
          ? formatPrice(filter.maxPrice)
          : '2.799.000đ' }}
        </span>

      </div>

      <ion-icon
        [name]="
      showPrice
      ? 'chevron-up-outline'
      : 'chevron-down-outline'
    "
        class="arrow-icon"
      ></ion-icon>

    </div>

    <div
      class="filter-panel"
      [hidden]="!showPrice"
    >

      <div
        #priceSlider
        class="slider"
      ></div>

      <div class="range-values">

        <input
          type="text"
          [value]="formatPrice(filter.minPrice)"
          (change)="onMinPriceChange($event)"
        >

        <input
          type="text"
          [value]="formatPrice(filter.maxPrice)"
          (change)="onMaxPriceChange($event)"
        >

      </div>

    </div>

  </div>

  <!-- ======================
       SEARCH BUTTON
  ======================= -->

  <button
    class="search-btn"
    (click)="submitFilter()"
  >

    Tìm kiếm

  </button>

</div>
