<ion-content class="banner-home">
  <swiper-container
    class="hero-slider"

    slides-per-view="1"

    loop="true"

    autoplay-delay="3000"

    autoplay-disable-on-interaction="false"


    navigation="true"
  >

    <swiper-slide>
      <img src="assets/imgs/banner-home%201.png">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/imgs/banner-home%202.png">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/imgs/banner-home%203.png">
    </swiper-slide>

  </swiper-container>

  <section>
    <app-tour-filter
      (filterChange)="goToTours($event)"
    >
    </app-tour-filter>
  </section>

  <section class="experience-section">

    <div class="container">

      <!-- LEFT -->
      <div class="left-content">

      <span class="subtitle">
        Khám phá thế giới
      </span>

        <h2>
          TRẢI NGHIỆM DU LỊCH ĐỘC ĐÁO VÀ KỶ NIỆM KHÓ QUÊN
        </h2>

        <p>
          Chúng tôi tự hào giới thiệu với bạn một trải nghiệm du lịch tuyệt vời, nơi bạn có thể khám phá những điểm đến độc đáo, trải nghiệm văn hóa đa dạng và tận hưởng cảnh quan thiên nhiên tuyệt đẹp. Với sự tận tâm và chuyên nghiệp, chúng tôi cam kết mang đến cho bạn những kỷ niệm vô giá và độc đáo trên mỗi hành trình.
        </p>

        <div class="gallery-small">
          <img src="assets/imgs/home/section_1.1.jpg" alt="">
          <img src="assets/imgs/home/section_1.2.jpg" alt="">
        </div>

      </div>

      <!-- RIGHT -->
      <div class="right-content">

        <img
          class="main-image"
          src="assets/imgs/home/section_1.jpg"
          alt=""
        >

        <div class="feature-list">

          <div class="feature-item">

            <div class="icon-box">
              <img src="assets/icon/home/section_1.svg">
            </div>

            <div>
              <h4>Đa dạng điểm đến</h4>
              <p>
                Khám phá hàng trăm điểm đến hấp dẫn trên toàn thế giới.
              </p>
            </div>

          </div>

          <div class="feature-item">

            <div class="icon-box">
              <img src="assets/icon/home/section_1.1.svg">
            </div>

            <div>
              <h4>Dịch vụ đáng tin</h4>
              <p>
                Trải nghiệm dịch vụ chuyên nghiệp và hỗ trợ khách hàng 24/7.
              </p>
            </div>

          </div>

        </div>

        <button class="explore-btn">
          KHÁM PHÁ NGAY
        </button>

        <img
          class="plane-shape"
          src="assets/imgs/home/section_1.3.jpg"
          alt=""
        >

      </div>


    </div>
    <section class="experience-section">

      <!-- content -->

      <div class="wave-shape">
        <img
          src="assets/icon/home/wave-brush.svg"
          alt="wave">
      </div>

    </section>
  </section>

</ion-content>
