<ion-content>
  <swiper-container
    class="hero-slider"

    slides-per-view="1"

    loop="true"

    autoplay-delay="3000"

    autoplay-disable-on-interaction="false"


    navigation="true"
  >

    <swiper-slide>
      <img src="assets/imgs/banner-home%201.png">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/imgs/banner-home%202.png">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/imgs/banner-home%203.png">
    </swiper-slide>

  </swiper-container>

  <section>
    <app-tour-filter
      (filterChange)="goToTours($event)"
    >
    </app-tour-filter>
  </section>
</ion-content>
